<h2 align="center">Weather App</h3>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <%= button_to 'Current Temperature', '/api/v1/weather/current', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <%= button_to 'Daily temperature for the last 24 hours', '/api/v1/weather/historical', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        <%= button_to 'Maximum temperature in 24 hours', '/api/v1/weather/historical/max', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
        <%= button_to 'Minimum temperature in 24 hours', '/api/v1/weather/historical/min', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>
        <%= button_to 'Average temperature over 24 hours', '/api/v1/weather/historical/avg', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>
        <%= button_to 'Backend status', '/api/v1/health', method: :get %>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>
        <%= button_to 'Documentation', '/api/v1/docs', method: :get %>
      </td>
    </tr>
  </tbody>
</table>

<%= form_with url: '/api/v1/weather/historical/by_time', method: :get do |form| %>
  <%= form.label :query, 'Input timestamp:' %>
  <%= form.text_field :query %>
  <%= form.submit 'Search' %>
<% end %>
